@use '../utils/variables' as *;

:where(option) {
  padding: 0.375rem 0.75rem;
  transition: $duration-fast;

  &:checked {
    background-color: $gray-200;
  }

  &:hover {
    color: $white;
    background-color: $blue-200;
  }
}
