@use '../utils/variables' as *;
@use '../utils/extends' as *;
@use '../utils/mixins' as *;

:where(dialog) {
  @extend %initial;
  @include fixed-center;
  @include animated;

  padding: 1rem;
  background-color: white;
  border-radius: $radius-md;
  box-shadow: $shadow-md;
  transition: $duration-fast;

  &:hover {
    box-shadow: $shadow-xs;
  }
}
