@use '../utils/variables' as *;
@use '../utils/mixins' as *;

:where(dialog) {
  padding: 1rem;
  background-color: white;
  border: none;
  border-radius: $radius-md;
  box-shadow: $shadow-md;
  transition: $duration-fast;
  @include fixed-center;
  @include animated;

  &::backdrop {
    background-color: rgba($black, 0.2);
  }
}
