@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/extends' as *;
@use '../utils/mixins' as *;

:where(progress) {
  @extend %progress;

  @mixin progress-bar {
    background-color: $gray-300;
  }

  @mixin progress-value {
    background-size: 0.75rem 0.75rem;
    border-radius: 0.5rem;
    transition: $duration-slow;
    @include gradient-striped;

    @include themeify {
      background-color: themed('primary');
    }
  }

  &::-webkit-progress-bar {
    @include progress-bar;
  }

  &::-webkit-progress-value {
    @include progress-value;
  }

  &::-moz-progress-bar {
    @include progress-value;
  }

  &::-ms-fill {
    border: none;
    @include progress-value;
  }

  @keyframes stripes {
    100% {
      background-position-x: 0.75rem;
    }
  }

  &:indeterminate::before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    background-color: $blue-500;
    background-repeat: repeat;
    background-size: 0.75rem 0.75rem;
    border-radius: 0.5rem;
    animation: 0.5s linear infinite stripes;
    @include gradient-striped;

    @include themeify {
      background-color: themed('primary');
    }
  }
}
