@use 'variables' as *;
@use 'functions' as *;
@use 'mixins' as *;

%text {
  &:read-only {
    background-color: rgba($gray-500, 0.3);
  }
}

%control {
  &:focus-visible {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
    background-color: rgba($gray-500, 0.3);
  }

  @include themeify {
    &:hover {
      border-color: themed('primary');
    }

    &:focus-visible {
      border-color: themed('primary');
      box-shadow: shadow-focus(themed('primary'));
    }
  }
}

%progress {
  position: relative;
  width: 100%;
  height: 0.75rem;
  overflow: hidden;
  border-radius: $radius-sm;
  appearance: none;
}

%button {
  height: 2rem;
  padding: 0 1rem;
  font-size: $font-sm;
  font-weight: $font-medium;
  color: $gray-100;
  cursor: pointer;
  border-radius: $radius-sm;
  transition: $duration-fast;
  appearance: none;

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    pointer-events: none;
  }

  @include themeify {
    background-color: themed('primary');
    border-color: themed('primary');

    &:hover {
      background-color: lighten(themed('primary'), 10%);
      border-color: lighten(themed('primary'), 10%);
    }

    &:active {
      background-color: darken(themed('primary'), 10%);
      border-color: darken(themed('primary'), 10%);
    }

    &:focus-visible {
      box-shadow: shadow-focus(themed('primary'));
    }

    &:disabled {
      background-color: lighten(themed('primary'), 20%);
      border-color: lighten(themed('primary'), 20%);
    }
  }
}
