@use '../utils/variables' as *;
@use '../utils/functions' as *;
@use '../utils/mixins' as *;

:where(:root) {
  overflow: overlay;
  scroll-behavior: smooth;
  color-scheme: light dark;
}

:where(body) {
  font-size: $font-md;
  font-weight: $font-normal;

  @include themeify {
    color: themed('dark');
    background-color: themed('light');
  }
}

:where(button, input, select, textarea) {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
  background-color: transparent;
  border: thin solid $gray-500;
}

:where(a) {
  color: currentcolor;
  text-decoration: none;
  transition: $duration-base;

  &:hover {
    color: $blue-500;
  }
}

:where([role='button' i]) {
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
  background-color: transparent;

  &-thumb {
    border-radius: $radius-xs;
    background-size: 0.5rem 0.5rem;
    @include gradient-striped(-45deg);

    @include themeify {
      background-color: themed('primary');
    }
  }
}
